.container__button-text {
  font-family: 'Intro', Arial, Helvetica, sans-serif ;
  font-size: 42px;
  line-height: 48px;
  font-weight: 400;
  margin: 0;
  color: #fff;
}

@media screen and (max-width: 671px) {
  .container__button-text{
    font-size: 19px;
    line-height: 25px;
  }
}