.popup__close {
  padding: 0;
  border: none;
  background: none;
  margin: 0;
  position: absolute;
  right: -40px;
  top: 40px;
}

@media screen and (max-width: 670px) {
  .popup__close {
    right: 10px;
    top: 10px;
  }
}