.popup__form-math {
  border: none;
  max-width: 358px;
  display: flex;
  flex-direction: column;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 50px;
  border: 1px red solid;
}

@media screen and (max-width: 670px) {
  .popup__form-math {
    max-width: 288px;
    margin-left: 0;
    margin-bottom: 20px;
  }
}