.popup__form-math {
  border: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-right: 5px;
  margin-bottom: 50px;
}

@media screen and (max-width: 670px) {
  .popup__form-math {
    max-width: 288px;
    margin-left: 0;
    margin-bottom: 20px;
  }
}